<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdtJzG5OktJeIJNrwzfLbAijcRS0bPhpU</string>
	<key>GCM_SENDER_ID</key>
	<string>308406809976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMobileApp</string>
	<key>PROJECT_ID</key>
	<string>financial-app-7c8f1</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-app-7c8f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308406809976:ios:de0e92c393f39d874f048d</string>
</dict>
</plist>